In [20]:
# %matplotlib
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
# import tensorflow as tfb

In [ ]:
# types of info: median house price, unemployment rate, quant measurement of cost of living, pop density, urban/rural/suburan

In [6]:
fips_df = pd.read_csv('count_fips.csv')
fips_df.head()

   FIPS     Name State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [7]:
county_CoC = pd.read_csv('fips_CoC.csv')

county_CoC.head()

     FIPS   county state  number
0  1001.0  Autauga    AL  AL-507
1  1003.0  Baldwin    AL  AL-501
2  1005.0  Barbour    AL  AL-507
3  1007.0     Bibb    AL  AL-507
4  1009.0   Blount    AL  AL-503

In [12]:
county_CoC2_df = pd.merge(fips_df, county_CoC, on=["FIPS", "FIPS"])
county_CoC2_df.head()

   FIPS     Name State   county state  number
0  1001  Autauga    AL  Autauga    AL  AL-507
1  1003  Baldwin    AL  Baldwin    AL  AL-501
2  1005  Barbour    AL  Barbour    AL  AL-507
3  1007     Bibb    AL     Bibb    AL  AL-507
4  1009   Blount    AL   Blount    AL  AL-503

In [15]:
list(county_CoC2_df.columns)

['FIPS', 'Name', 'State', 'county', 'state', 'number']

In [19]:
CoC_FIPS_df = county_CoC2_df.drop(["Name", "State"], axis=1)
CoC_FIPS_df.head()

   FIPS   county state  number
0  1001  Autauga    AL  AL-507
1  1003  Baldwin    AL  AL-501
2  1005  Barbour    AL  AL-507
3  1007     Bibb    AL  AL-507
4  1009   Blount    AL  AL-503

In [24]:
population_county_df = pd.read_csv('co-est2019-annres.csv')

population_county_df.head()

                    county population
0  Autauga County, Alabama     55,869
1  Baldwin County, Alabama    223,234
2  Barbour County, Alabama     24,686
3     Bibb County, Alabama     22,394
4   Blount County, Alabama     57,826

In [29]:
population_county_df = population_county_df.rename(columns = {'county':'countystate'})
population_county_df.head()

               countystate population
0  Autauga County, Alabama     55,869
1  Baldwin County, Alabama    223,234
2  Barbour County, Alabama     24,686
3     Bibb County, Alabama     22,394
4   Blount County, Alabama     57,826

In [30]:
county_CoC3_df = CoC_FIPS_df.join(population_county_df)
county_CoC3_df.head()

   FIPS   county state  number              countystate population
0  1001  Autauga    AL  AL-507  Autauga County, Alabama     55,869
1  1003  Baldwin    AL  AL-501  Baldwin County, Alabama    223,234
2  1005  Barbour    AL  AL-507  Barbour County, Alabama     24,686
3  1007     Bibb    AL  AL-507     Bibb County, Alabama     22,394
4  1009   Blount    AL  AL-503   Blount County, Alabama     57,826

In [32]:
CoC_FIPS_df = county_CoC3_df.drop(["countystate"], axis=1)
CoC_FIPS_df.head()

   FIPS   county state  number population
0  1001  Autauga    AL  AL-507     55,869
1  1003  Baldwin    AL  AL-501    223,234
2  1005  Barbour    AL  AL-507     24,686
3  1007     Bibb    AL  AL-507     22,394
4  1009   Blount    AL  AL-503     57,826

In [38]:
poverty_df = pd.read_csv("PovertyEstimates_cleaned.csv")
poverty_df.head()

,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,Overall Poverty,Pct Overall Poverty,Poverty 0-17,Pct Poverty 0-17,Poverty 5-15,Pct Poverty 5-17,Med Household Income,Poverty 0-4,Pct Poverty 0-4
0,1000,AL,Alabama,NaN,NaN,NaN,NaN,"747,478",15.6,"233,890",21.9,"161,670",20.7,"51,771","69,236",24.2
1,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,723",12.1,"2,040",15.9,"1,376",14.4,"58,233",NaN,NaN
2,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"22,360",10.1,"6,323",13.5,"4,641",13.3,"59,871",NaN,NaN
3,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"5,909",27.1,"2,050",41.0,"1,468",39.5,"35,972",NaN,NaN
4,1007,AL,Bibb County,1.0,1.0,1.0,1.0,"4,101",20.3,"1,147",25.9,808,25.2,"47,918",NaN,NaN

In [42]:
county_CoC4_df = pd.merge(CoC_FIPS_df, poverty_df, left_on=["FIPS"], right_on = ["FIPStxt"], how = 'left')
county_CoC4_df.head()

,FIPS,county,state,number,population,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,...,Urban_Influence_Code_2013,Overall Poverty,Pct Overall Poverty,Poverty 0-17,Pct Poverty 0-17,Poverty 5-15,Pct Poverty 5-17,Med Household Income,Poverty 0-4,Pct Poverty 0-4
0,1001,Autauga,AL,AL-507,"55,869",1001.0,AL,Autauga County,2.0,2.0,...,2.0,"6,723",12.1,"2,040",15.9,"1,376",14.4,"58,233",NaN,NaN
1,1003,Baldwin,AL,AL-501,"223,234",1003.0,AL,Baldwin County,4.0,5.0,...,2.0,"22,360",10.1,"6,323",13.5,"4,641",13.3,"59,871",NaN,NaN
2,1005,Barbour,AL,AL-507,"24,686",1005.0,AL,Barbour County,6.0,6.0,...,6.0,"5,909",27.1,"2,050",41.0,"1,468",39.5,"35,972",NaN,NaN
3,1007,Bibb,AL,AL-507,"22,394",1007.0,AL,Bibb County,1.0,1.0,...,1.0,"4,101",20.3,"1,147",25.9,808,25.2,"47,918",NaN,NaN
4,1009,Blount,AL,AL-503,"57,826",1009.0,AL,Blount County,1.0,1.0,...,1.0,"9,324",16.3,"2,750",21.0,"2,067",21.4,"52,902",NaN,NaN

In [43]:
CoC_FIPS_df = county_CoC4_df.drop(["Poverty 0-4", "Pct Poverty 0-4"], axis=1)
CoC_FIPS_df.head()

,FIPS,county,state,number,population,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,Overall Poverty,Pct Overall Poverty,Poverty 0-17,Pct Poverty 0-17,Poverty 5-15,Pct Poverty 5-17,Med Household Income
0,1001,Autauga,AL,AL-507,"55,869",1001.0,AL,Autauga County,2.0,2.0,2.0,2.0,"6,723",12.1,"2,040",15.9,"1,376",14.4,"58,233"
1,1003,Baldwin,AL,AL-501,"223,234",1003.0,AL,Baldwin County,4.0,5.0,3.0,2.0,"22,360",10.1,"6,323",13.5,"4,641",13.3,"59,871"
2,1005,Barbour,AL,AL-507,"24,686",1005.0,AL,Barbour County,6.0,6.0,6.0,6.0,"5,909",27.1,"2,050",41.0,"1,468",39.5,"35,972"
3,1007,Bibb,AL,AL-507,"22,394",1007.0,AL,Bibb County,1.0,1.0,1.0,1.0,"4,101",20.3,"1,147",25.9,808,25.2,"47,918"
4,1009,Blount,AL,AL-503,"57,826",1009.0,AL,Blount County,1.0,1.0,1.0,1.0,"9,324",16.3,"2,750",21.0,"2,067",21.4,"52,902"

In [ ]:
# TODO: Add unemployment and educational attainment data from https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/

In [36]:
CoC_FIPS_df.to_csv("Fips_CoC.csv", index=False)